.timer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.timer-card {
  min-width: 200px; /* Fixed width */
  min-height: 200px; /* Fixed height */
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom left, #ff00e6, #01ffff);
  border-radius: 10px;
  color: white;
  box-shadow: 6px 3px 40px rgba(0, 0, 0, 0.2);
  
}


@media (max-width: 440px) {
  .timer-container {
    height: 70vh;
  }
}
