.timercontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.timercard {
  min-width: 200px; /* Fixed width */
  min-height: 200px; /* Fixed height */
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom left, #ff00e6, #01ffff);
  border-radius: 10px;
  color: white;
  box-shadow: 6px 3px 40px rgba(0, 0, 0, 0.2);
}

.counter {
  font-size: 5.5rem;
}
.error {
  margin:8px 0;
  color: #940085;
}

@media (max-width: 440px) {
  .timercontainer {
    
    height: 70vh;
    
  }
}
