
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------above is template css ---------------------------- */

#app {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Ensures full viewport height */
  background: linear-gradient(to bottom left, #ff00e6, #01ffff);
  background-size: cover;
  overflow: auto;
}
.container {
  text-align: center;
}
.date-container {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.timer {
  margin-left: 8px;
  color: #940085;
}
h1 {
  font-weight: bold;
  color: #fff;
  font-size: 5.5rem;
}
